.grid{
  border:1px solid #3c8dbc;
  border-collapse: collapse;
  thead{
    background: #3c8dbc;
    color: #fff;
    display: table-header-group;

    tr {
      td {
        border-right: thin solid #fff;
        text-align: center;

        &:last-child{
          border-right: none;
        }
      }
    }
  }


  tbody{
    tr{
      td{
        padding: 5px;
        width:auto;
        &.image{
          width:1%;
          img{
            margin:10px;
          }
        }
      }
    }
  }

  tfoot {
    padding: 10px;
    display: flex;
    .info {
      flex-grow: 1;
    }

    .navigation {

      justify-content: space-between;
      width: 50%;
      text-align: right;
      span {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid #3c8dbc;
        padding: 5px;
        margin: 4px 4px 0 0;
        cursor: pointer;
        color: #3c8dbc;
        &.active {
          cursor: default;
          background: #3c8dbc;
          color: #fff;
        }
      }
    }
  }
}


.filter{

  &.choices{
    .items{
      display:flex;
      span{
        cursor:pointer;
        border:1px solid #3c8dbc;
        margin:4px;
        padding: 5px;

        &.active{
          background: #3c8dbc;
          color:#fff;
        }

      }
    }
  }

  .items{

  }
}



.grid.gallery{
  border-collapse: separate;
  tbody{
    display:flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
      tr{
        border: 1px solid #3c8dbc;

        margin:10px 0 0 10px;
      }
  }

  &.processing{
    img{
      opacity: 0.5;
      filter: alpha(opacity=50); /* For IE8 and earlier */
    }
  }
}