.grid {
  border: 1px solid #3c8dbc;
  border-collapse: collapse; }
  .grid thead {
    background: #3c8dbc;
    color: #fff;
    display: table-header-group; }
    .grid thead tr td {
      border-right: thin solid #fff;
      text-align: center; }
      .grid thead tr td:last-child {
        border-right: none; }
  .grid tbody tr td {
    padding: 5px;
    width: auto; }
    .grid tbody tr td.image {
      width: 1%; }
      .grid tbody tr td.image img {
        margin: 10px; }
  .grid tfoot {
    padding: 10px;
    display: flex; }
    .grid tfoot .info {
      flex-grow: 1; }
    .grid tfoot .navigation {
      justify-content: space-between;
      width: 50%;
      text-align: right; }
      .grid tfoot .navigation span {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid #3c8dbc;
        padding: 5px;
        margin: 4px 4px 0 0;
        cursor: pointer;
        color: #3c8dbc; }
        .grid tfoot .navigation span.active {
          cursor: default;
          background: #3c8dbc;
          color: #fff; }

.filter.choices .items {
  display: flex; }
  .filter.choices .items span {
    cursor: pointer;
    border: 1px solid #3c8dbc;
    margin: 4px;
    padding: 5px; }
    .filter.choices .items span.active {
      background: #3c8dbc;
      color: #fff; }

.grid.gallery {
  border-collapse: separate; }
  .grid.gallery tbody {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap; }
    .grid.gallery tbody tr {
      border: 1px solid #3c8dbc;
      margin: 10px 0 0 10px; }
  .grid.gallery.processing img {
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */ }

/*# sourceMappingURL=grid.css.map */
